#box{
    width: 100%;
    background: azure;
    position: absolute;
    z-index: 991;
}

header{
    width: 100%;
    height: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
}

#box a{
    width: 1.4rem;
    height: 0.7rem;
    font-size: 0.4rem;
    position: absolute;
    left: 0.2rem;
    top: 0.2rem;
}

#box h3{
    position: absolute;
    top: 0rem;
    left: 4rem;
}

#box1{
    width: 100%;
    padding-top: 1.5rem;
}